/* HEADER */

:root {
  --clr: #953;
  --clr1: #000;
  --clr2: #222;
  --clr3: #0f0;
  --clr4: #fff;
  --clr5: #333;
  --clr6: #aaa;
  --clr7: #111;
  --clr8: #181818;
  --clr9: #e94;
  --clr10: #ff66c4;
}

/* @MEDIA */

/* desktop:992px até 1200px */
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .dropdown-menu {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: end;
    position: fixed;
    top: 240px;
    z-index: 1000;
    background-image: linear-gradient(to left, #181818, #ff66c4, #111);
  }
  header nav ul.navegation--list {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-weight: bold;
  }
  header nav ul li.navegation__list--itens {
    width: 150px;
    font-size: 0.8em;
    text-shadow: -2px 1.5px 1px var(--clr8);
    display: flex;
    justify-content: space-around;
  }
  a {
    text-decoration: none;
  }
}

/*Celular: de 600px até 768px*/
@media screen and (min-width: 37.5em) {
  /* Pai */
  .navegation {
    position: relative;
    top: 0;
    left: 0;
  }
  /* Filho */
  .navegationList {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
  }
  /* Neto */
  .navegationList_itens {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .navegationList_itens:hover {
    cursor: pointer;
    background: var(--clr5);
  }
  a {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    right: 25px;
  }
  a:hover {
    text-shadow: -1px 1px 2px var(--clr6);
    color: var(--clr10);
  }
}

/*Pequenas telas: até 600px.*/
@media screen and (min-width: 12.5em), (orientation: landscape) {
  .container {
    width: 100vw;
    height: 5vh;
    position: relative;
    left: 0;
    top: 0;
    background-image: linear-gradient(to left, #181818, #ff66c4, #111);
  }
  .mobileMenuButton {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: -5.5px;
  }
  .navegation {
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .navegationList {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 30px;
  }
  a {
    text-decoration: none;
    color: var(--clr4);
    margin-left: 50px;
  }
  a:hover {
    text-shadow: -1px 1px 2px var(--clr4);
    color: var(--clr7);
  }
}
