@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
:root {
  --clr: #953;
  --clr1: #000;
  --clr2: #222;
  --clr3: #0f0;
  --clr4: #fff;
  --clr5: #333;
  --clr6: #aaa;
  --clr7: #111;
  --clr8: #181818;
  --clr9: #e94;
  --clr10: #ff66c4;
}
body {
  width: 100vw;
  height: 100vh;
  background: var(--clr1);
  position: relative;
  top: 0;
  left: 0;
}
