@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background: var(--clr11);
  position: relative;
  top: 0;
  left: 0;
}
